In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("adult_with_headers (1).csv")

In [5]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [6]:
# Replace '?' with NaN
df = df.replace("?", np.nan)

df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [8]:
df.describe(include='all')

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
count,32561.000000,32561,3.256100e+04,32561,32561.000000,32561,32561,32561,32561,32561,32561.000000,32561.000000,32561.000000,32561,32561
unique,NaN,9,NaN,16,NaN,7,15,6,5,2,NaN,NaN,NaN,42,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,22696,NaN,10501,NaN,14976,4140,13193,27816,21790,NaN,NaN,NaN,29170,24720
mean,38.581647,NaN,1.897784e+05,NaN,10.080679,NaN,NaN,NaN,NaN,NaN,1077.648844,87.303830,40.437456,NaN,NaN
std,13.640433,NaN,1.055500e+05,NaN,2.572720,NaN,NaN,NaN,NaN,NaN,7385.292085,402.960219,12.347429,NaN,NaN
min,17.000000,NaN,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN
25%,28.000000,NaN,1.178270e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
50%,37.000000,NaN,1.783560e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
75%,48.000000,NaN,2.370510e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,NaN
max,90.000000,NaN,1.484705e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,NaN

In [ ]:
df.isna().sum()

In [ ]:
# Step 3 — Impute Missing Values (Best Practices)

In [9]:
from sklearn.impute import SimpleImputer

num_cols = df.select_dtypes(include=['int64','float64']).columns
cat_cols = df.select_dtypes(include=['object']).columns

# Numerical imputation
num_imputer = SimpleImputer(strategy='median')
df[num_cols] = num_imputer.fit_transform(df[num_cols])

# Categorical imputation
cat_imputer = SimpleImputer(strategy='most_frequent')
df[cat_cols] = cat_imputer.fit_transform(df[cat_cols])

df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [10]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

num_cols = df.select_dtypes(include=['int64','float64']).columns

# Standard Scaling
std = StandardScaler()
df_std = df.copy()
df_std[num_cols] = std.fit_transform(df_std[num_cols])

# Min-Max Scaling
mm = MinMaxScaler()
df_mm = df.copy()
df_mm[num_cols] = mm.fit_transform(df_mm[num_cols])

df_std.head(), df_mm.head()

(        age          workclass    fnlwgt   education  education_num  \
 0  0.030671          State-gov -1.063611   Bachelors       1.134739
 1  0.837109   Self-emp-not-inc -1.008707   Bachelors       1.134739
 2 -0.042642            Private  0.245079     HS-grad      -0.420060
 3  1.057047            Private  0.425801        11th      -1.197459
 4 -0.775768            Private  1.408176   Bachelors       1.134739

         marital_status          occupation    relationship    race      sex  \
 0        Never-married        Adm-clerical   Not-in-family   White     Male
 1   Married-civ-spouse     Exec-managerial         Husband   White     Male
 2             Divorced   Handlers-cleaners   Not-in-family   White     Male
 3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
 4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

    capital_gain  capital_loss  hours_per_week  native_country  income
 0      0.148453      -0.21666       -0.035429   United-States   <=50K
 1     -0.145920      -0.21666       -2.222153   United-States   <=50K
 2     -0.145920      -0.21666       -0.035429   United-States   <=50K
 3     -0.145920      -0.21666       -0.035429   United-States   <=50K
 4     -0.145920      -0.21666       -0.035429            Cuba   <=50K  ,
         age          workclass    fnlwgt   education  education_num  \
 0  0.301370          State-gov  0.044302   Bachelors       0.800000
 1  0.452055   Self-emp-not-inc  0.048238   Bachelors       0.800000
 2  0.287671            Private  0.138113     HS-grad       0.533333
 3  0.493151            Private  0.151068        11th       0.400000
 4  0.150685            Private  0.221488   Bachelors       0.800000

         marital_status          occupation    relationship    race      sex  \
 0        Never-married        Adm-clerical   Not-in-family   White     Male
 1   Married-civ-spouse     Exec-managerial         Husband   White     Male
 2             Divorced   Handlers-cleaners   Not-in-family   White     Male
 3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
 4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

    capital_gain  capital_loss  hours_per_week  native_country  income
 0       0.02174           0.0        0.397959   United-States   <=50K
 1       0.00000           0.0        0.122449   United-States   <=50K
 2       0.00000           0.0        0.397959   United-States   <=50K
 3       0.00000           0.0        0.397959   United-States   <=50K
 4       0.00000           0.0        0.397959            Cuba   <=50K  )

In [ ]:
# Standard Scaling (Z-score)
# Used when:
# Data is normally distributed
# Models assume Gaussian distribution
# Algorithms: SVM, Logistic Regression, Linear Regression, PCA

# Min-Max Scaling
# Used when:
# Algorithms use distance
# Inputs need 0–1 range
# Algorithms: KNN, K-Means, Neural Networks

In [11]:
# 2. ENCODING TECHNIQUES

In [12]:
cat_cols = df.select_dtypes(include='object').columns
df[cat_cols].nunique()

workclass          9
education         16
marital_status     7
occupation        15
relationship       6
race               5
sex                2
native_country    42
income             2
dtype: int64

In [13]:
small_cat = [col for col in cat_cols if df[col].nunique() < 5]
small_cat

['sex', 'income']

In [14]:
df_ohe = pd.get_dummies(df, columns=small_cat, drop_first=True)
df_ohe.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_ Male,income_ >50K
0,39.0,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,2174.0,0.0,40.0,United-States,True,False
1,50.0,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,0.0,0.0,13.0,United-States,True,False
2,38.0,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,0.0,0.0,40.0,United-States,True,False
3,53.0,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,0.0,0.0,40.0,United-States,True,False
4,28.0,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,0.0,0.0,40.0,Cuba,False,False

In [15]:
from sklearn.preprocessing import LabelEncoder

df_encoded = df_ohe.copy()

large_cat = [col for col in cat_cols if df[col].nunique() >= 5]
large_cat

['workclass',
 'education',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'native_country']

In [ ]:
# # ●	Discuss the pros and cons of One-Hot Encoding and Label Encoding.

# # One-Hot Encoding
# Pros	
# 1. Does not introduce ordinal relationships
# 2. Easy to interpret
# 3. Works well with linear models
# Cons
# 1. Increases dimensionality
# 2. Higher memory usage
# 3. Can cause sparse data

# Label Encoding
# Pros
# 1. Memory efficient
# 2. Simple and fast to apply
# 3. Suitable for tree-based models
# Cons
# 1. Introduces false ordinal relationships
# 2. Misleads distance-based models
# 3. Not suitable for linear models

In [16]:
# 3. FEATURE ENGINEERING
# ●	Create at least 2 new features that could be beneficial for the model. Explain the rationale behind your choices

In [17]:
# Feature 1 — Age Group

df["age_group"] = pd.cut(
    df["age"],
    bins=[0, 25, 45, 65, 100],
    labels=["Youth", "Adult", "Middle-Age", "Senior"]
)

df[["age", "age_group"]].head()

    age   age_group
0  39.0       Adult
1  50.0  Middle-Age
2  38.0       Adult
3  53.0  Middle-Age
4  28.0       Adult

In [ ]:
# New Feature 1
# Created by binning age into categories: Youth, Adult
# Converts continuous age values into meaningful life-stage groups, helping the model capture

In [18]:
# Feature 2 — Hours Category

df["hours_category"] = df["hours_per_week"].apply(
    lambda x: "Part-time" if x < 30 else ("Full-time" if x <= 50 else "Overtime")
)

df[["hours_per_week", "hours_category"]].head()

   hours_per_week hours_category
0            40.0      Full-time
1            13.0      Part-time
2            40.0      Full-time
3            40.0      Full-time
4            40.0      Full-time

In [ ]:
# New Feature 2
# Created from hours_per_week
# Converts numerical hours into meaningful work categories and captures non-linear patterns.

In [34]:
# ●	Apply a transformation (e.g., log transformation) to at least one skewed numerical feature and justify your choice.

import numpy as np

df["capital-gain-log"] = np.log1p(df["capital_gain"])
df["capital-loss-log"] = np.log1p(df["capital_loss"])

df[["capital_gain", "capital-gain-log"]].head()

   capital_gain  capital-gain-log
0        2174.0          7.684784
1           0.0          0.000000
2           0.0          0.000000
3           0.0          0.000000
4           0.0          0.000000

In [ ]:
# capital_gain and capital_loss are highly skewed, with many zero values and a few very large values.

# The log transformation compresses large values and reduces skewness.
# log1p is used instead of log to safely handle zero values (log(0) is undefined).
# This makes the feature more suitable for machine learning models, especially linear and distance-based models.